header {
    color: azure;
    background-color: black;
    text-align: center;
}

.askiseis {
    color: yellowgreen;
    background-color: black;
    font-size:x-large;
}

hr {
    border: 1px solid greenyellow;
}

table,th,td {
    font-size: large;
    color: blue;
    border: 2px solid saddlebrown;
}