@model IEnumerable<CoffeeShop.Model.Customer>

@{
    ViewData["Title"] = "RETAIL CUSTOMER";
}

<h1>View</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                  read only
            </td>
        </tr>
}
    </tbody>
</table>
