@page "/about"
<h3>About this app </h3>


<div class="card">
    <h5 class="card-header">GZFuel v 0.3</h5>
    <div class="card-body">
        <h5 class="card-title">By Georgios Zacharidis</h5>
        <p class="card-text">Coded and released as part of my Epsilon Coding School 2023 training</p>
        <p class="card-text">This app is a work in progress and will be updated as I learn more about Blazor</p>
        <p class="card-text">It is a simple CRUD app that allows you to manage a fuel station</p>

        <br />  
        <p class="card-text">Special thanks goes to all my instructors during the training (the order is random)</p>

        <ul class="border-3">
            <li> Fotis Chrysoulas  </li>
           <li> Dimitris Raptodimos </li>
            <li> Kostas Sofos </li>
            <li> Stavros Kasidis </li>   
            <li> Thodoris Kapiris</li>
            <li> Nick Mavros </li>



        </ul>

        <p class="border-1"> and ofcourse Epsilon for giving my this amazing chance </p>

        <a href="#" class="btn btn-primary">Go To EpsilonNET</a>
    </div>
</div>

<h1> May the Force of .NET and the mighty Entity Framework be with us all </h1>


@code {

}
