@page "/transactionlist/addtransaction"
@inject HttpClient httpClient;
@inject NavigationManager NavigationManager;
@using GZFuel.Blazor.Shared.DTO.Transaction;
@using GZFuel.Model.Entities;

<h3>add transaction</h3>

@if(isLoading)
{
	<p> Loading ... </p>
} else
{
	

}


@code {

	private Boolean isLoading = true;
	Transaction transaction { get; set; }
	IEnumerable <TransactionLine> transactionLines { get; set; }





	protected override async Task OnInitializedAsync()
	{
		transaction = new Transaction();
		transactionLines = new List<TransactionLine>();
		isLoading = false;
	}
		






}














