@page "/customerlist/customeredit/{Id:int?}"
@using GZFuel.Blazor.Shared.DTO.Customer;
@inject HttpClient httpClient;
@inject NavigationManager NavigationManager;


<h3>Customer Editt</h3>

@code {
	[Parameter] public int? Id { get; set; }
	CustomerDTO customer = new CustomerDTO();




	protected override async Task OnInitializedAsync()
	{
		if (Id.HasValue)
		{
			customer = await httpClient.GetFromJsonAsync<CustomerDTO>($"api/customer/{Id}");
		} else
		{
			customer = new(); 

		}
	}










}
