@page "/customerlist"
@using GZFuel.Blazor.Shared.DTO.Customer;
@inject HttpClient httpClient;
@inject NavigationManager NavigationManager;




<h3>Customers List</h3>

@if (isLoading)
{
	<p>Loading...</p>
} else
{

	<button class="btn btn-primary" @onclick="CreateItem">Create New Customer</button>

	<table class="table table-dark">

		<thead>
			<tr>
				<th>
					ID
				</th>
				<th>
					Name
				</th>
				<th>
					Surname
				</th>
				<th>
					Card Number
				</th>

			</tr>
		</thead>

		<tbody>
			@foreach (var customer in customers)
			{
				<tr>
					<td>
						@customer.Id
					</td>
					<td>
						@customer.Name
					</td>
					<td>
						@customer.Surname
					</td>
					<td>
						@customer.CardNumber
					</td>

					<button class="btn btn-primary" @onclick="()=>EditItem(customer)">Details</button>
					<button class="btn btn-danger"> Delete</button>

				</tr>
			}

		</tbody>

	</table>

}





@code {

	private Boolean isLoading = true;
	private IEnumerable<CustomerDTO> customers;


	protected override async Task OnInitializedAsync()
	{

		await LoadCustomers();
	}


	private async Task LoadCustomers()
	{
		customers = await httpClient.GetFromJsonAsync<List<CustomerDTO>>("customer");
		isLoading = false;

	}




	public void CreateItem()
	{
		NavigationManager.NavigateTo("/customerlist/customeredit");
	}


	private void EditItem(CustomerDTO customer)
	{
			NavigationManager.NavigateTo($"/customerlist/customeredit/{customer.Id}");
	}




}
