@page "/employeelist/employeeedit/{id:int?}"
@using GZFuel.Blazor.Shared.DTO.Employee;
@inject HttpClient httpClient;
@inject NavigationManager NavigationManager;

<h3>Employee Edit</h3>

@if(isLoading)
{
	<p> .... Loading .... </p>
} else
{

	<div class="row">




		<div class="col-md-6">

			<label class="form-label"> Name </label>
			<input class="form-control" @bind="@employee.Name" />

		</div>

		<div class="col-md-6">

			<label class="form-label"> Surname </label>
			<input class="form-control" @bind="employee.Surname" />

		</div>

		<div class="col-md-6">

			<label class="form-label"> Salary Per Month </label>
			<input class="form-control" @bind="@employee.SalaryPerMonth" />

		</div>

		<div class="col-md-6">

			<label class="form-label"> Type : </label>
			<input class="form-control" @bind="employee.EmployeeType" />

		</div>

		<div class="col-md-6"> 

			<label class="form-label"> Hire Date </label>
			<input class="form-control" @bind="@employee.HireDateStart" />

		</div>




	</div>



	<div class="row">

		<div class="col-md-12">

			<button class="btn btn-primary" @onclick="SaveItem">Save</button>

		</div>

		<div class="col-md-12">

			<button class="btn btn-danger" @onclick="onCancle">Cancel</button>

		</div>
	</div>


}

	





@code {
	[Parameter] public int? Id { get; set; }
	EmployeeEditDTO employee { get; set; }
	private Boolean isLoading = true;


	private async Task LoadEmployeesFromServer()
	{
		if (Id == null)
		{
			employee = new();
		} else
		{
			employee = await httpClient.GetFromJsonAsync<EmployeeEditDTO>($"employee/{Id}");

		}
	}


	protected override async Task OnInitializedAsync()
	{

		await LoadEmployeesFromServer();
		isLoading = false; 

	}

	private void onCancle()
	{
		NavigationManager.NavigateTo("/employeelist");
	}

	private async Task SaveItem()
	{
		//TODO prevent HireEndDate from being  added when creating new emp
		if (Id==null)
		{
			var response = await httpClient.PostAsJsonAsync("Employee", employee);
			response.EnsureSuccessStatusCode();
			NavigationManager.NavigateTo("/employeelist");

		} else  // Emp exists - update his details 
		{
			var response = await httpClient.PutAsJsonAsync($"Employee", employee);
			response.EnsureSuccessStatusCode();
			NavigationManager.NavigateTo("/employeelist");

		}

	}
}