@page "/"

<PageTitle>Index</PageTitle>

<h1>GZ Fuel version 0.3</h1>

<p>The app provides the following functions</p>


<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Customer Management</h5>
            <small>CRUD</small>
        </div>
        <p class="mb-1">Maintain your Customer book and keep track of their transactions</p>
        <small>ADD/ DELETE / UPDATE </small>
    </a>
    <br/>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Employee Management</h5>
            <small>CRUD</small>
        </div>
        <p class="mb-1">Maintain your Employee book and keep track of their transactions and salary</p>
        <small>ADD/ DELETE / UPDATE </small>
    </a>

     <br />

    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Inventory Management</h5>
            <small>CRUD</small>
        </div>
        <p class="mb-1">Maintain your Inventory and keep track of your products</p>
        <small>ADD/ DELETE / UPDATE </small>
    </a>

    <br />

    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Transaction Management</h5>
            <small>CRUD</small>
        </div>
        <p class="mb-1">Keep Track of your bussines transaction and your finances</p>
        <small>ADD/ DELETE / UPDATE </small>
    </a>

    <br />

    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Yearly / Monthly Ledger</h5>
            <small>Read Only</small>
        </div>
        <p class="mb-1">Overview of your yearly / mothly finances</p>
        <small>Cannot be edited for safety reasons</small>
    </a>

    <br />


</div>






