@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>GZ CoffeeShop 0.1</p>
    <p>Written during the Epsilon Coding School 2023</p>

</div>
