@{
    ViewData["Title"] = "About GZ CoffeeShop";
}
<h1>@ViewData["Title"]</h1>

<p>Coded and released by georgios zacharidis during the Epsilon Coding School Bootcamp 2023 </p>
<p>Model and EF sections written by Theodore Kapiris</p>
